@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

body {
    height: 100vh;
    background-image:url(imagem/background-mario.png) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titulo{
    font-size: 80px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000, -2px -2px 2px #000;
}
.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, .9);
}

.clock div {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FFDD1B;
    border: 3px solid #000;
    text-shadow: 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000, -2px -2px 2px #000;
    border-radius: 10px;
    box-shadow: 2px 6px 10px rgba(5, 5, 5, .9);
    letter-spacing: 2px;
}

.clock span{
    font-weight: bolder;
    font-size: 65px;
}

.clock span.tmp{
    font-size: 17px;
}

#dates{
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000, -2px -2px 2px #000;
}